* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    height: 0;
    display: none;
}

body {
    background-color: #FFFAFA;
    font-family: 'Prompt', sans-serif;
}


.video-wrapper{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:contain;
    overflow: hidden;
}

.Content:before{
    z-index: 1;
    content: '';
    position: absolute;
    background: rgba(160, 116, 51, 0.42);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



.navbar {
    display: inline-flex;
    z-index: 3;
    width: 100vw;
    height: 45px;
    justify-content: center;
    align-items: center;
    top:0;
    background-color: #1B1C1E;
    position: sticky;
    border-bottom: 3px solid coral;
}

.navbar .icon {
    justify-content: center;
    align-items: center;
    display: none;
}

.navbar a {
    color: #FFFAFA;
    text-decoration: none;
    margin: 20px;
    transition:color 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.6vh;
}

.navbar a:hover {
    color: rgb(255, 179, 80);
}

#home, #about_me, #projects {
    height: 100vh;
    z-index: 2;
}

#contact_me {
    height: 30vh;
    z-index: 2;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home #intro{
    text-shadow: 2px 1px 2px #000;
    text-align: center;
    line-height: 1.4;
    z-index: 2;
    position: relative;
    color: #FFFAFA;
    font-size:3.2vh;
    max-width: 70vw;
}

#home #intro_lower{
    text-align: center;
    text-shadow: 2px 1px 2px #000;
    z-index: 2;
    position: relative;
    overflow: hidden;
    color: #FFFAFA;
    font-size:3.2vh;
    max-width: 75vw;
}

#home #intro_lower #dynamic {
    color: #FFFAFA;
    text-shadow: 2px 1px 2px #000;
    font-size:3.2vh;
}

#about_me h1 span{
    text-transform: uppercase;
    font-size:4.2vh;
    color: #1B1C1E;
    margin-bottom: 1vh;
    border-bottom: 3px solid #1B1C1E;
    max-width: fit-content;
}

#about_me h1 {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 2vh;
}

#about_me .aboutMeCardCon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_me .aboutMeCard {
    display: inline;
    width: 50vh;
    height: 75vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px 5px;
    max-width: 50vw;
}

#about_me .aboutMeCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#about_me .aboutMeCard #imgStuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_me .aboutMeCard img {
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid coral;
}

#about_me .aboutMeCardContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_me h2 span{
    text-transform: uppercase;
    font-size:2.8vh;
    color: #1B1C1E;
    margin-bottom: 1vh;
    border-bottom: 3px solid #1B1C1E;
    max-width: fit-content;
}

#about_me p{
    font-size:1.65vh;
    color: #1B1C1E;
    margin-top: 2vh;
    width: 45vh;
    max-width: 45vw;
}

#projects span{
    text-transform: uppercase;
    font-size:4.2vh;
    color: #1B1C1E;
    margin-bottom: 1vh;
    border-bottom: 3px solid #1B1C1E;
    max-width: fit-content;
}

#projects h1 {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 2vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.wrapper .carousel {
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 2vh);
    justify-items: center;
    gap: 3vh;
    padding-bottom: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

.wrapper #left, .wrapper #right {
    height: 50px;
    width: 50px;
    background: #FFFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper i:hover {
    background: #d4d1d1;
}

.wrapper i:first-child {
    left: 22px;
}

.wrapper i:last-child {
    right: 22px;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .projectsCard {
    cursor:grab;
    user-select: none;
}

.carousel .projectsCard {
    list-style: none;
    border-radius: 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 36vh;
    max-width: 36vw;
    min-width: 28vh;
    height: 75vh;
}

#projects .projectImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects .projectsCard img {
    position: relative;
    width: 36vh;
    min-width: 28vh;
    max-width: 36vw;
    max-height: 50vh;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid #1B1C1E;
    cursor: pointer;
}

#projects .projectsInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsInfo h4 {
    text-transform: uppercase;
    font-size:1.8vh;
    color: #1B1C1E;
    margin-bottom: .5vh;
}

.projectsInfo p {
    font-size:1.3vh;
    color: #1B1C1E;
    margin-top: 1vh;
    width: 31vh;
    max-width: 31vw;
}

#contact_me span{
    text-transform: uppercase;
    font-size:4.2vh;
    color: #1B1C1E;
    margin-bottom: 1vh;
    border-bottom: 3px solid #1B1C1E;
    max-width: fit-content;
}

#contact_me h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#contact_me a {
    color: inherit;
}

#contact_me .linkbar{
    padding-top: 10px;
}

#contact_me .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: #1B1C1E;
}

#contact_me i {
    margin-left: 25px;
    margin-right: 25px;
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

#contact_me i:hover {
    font-size: 6vh;
    color: coral;
}

.active {
    color: coral;
}

.non-active {
    color: #FFFAFA;
}


@media screen and (max-width:1000px){
    .navbar {
        position: sticky;
    }
    .navbar #myLinks{ 
        display: none;
        flex-direction:column;
        justify-content: center;
        position: relative;
        align-self: flex-start;
        margin-top: 25vh;
    }

    #myLinks a{
        color: #FFFAFA;
        background-color: #27292c;
        text-decoration: none;
        margin: 0 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 5vh;
        min-width: 100vw;
        border-bottom: 1px solid coral;
    }

    .navbar .icon {
        display: inline;
        position: relative;
        color: #FFFAFA;
    }

    .wrapper .carousel {
        display:grid;
        grid-auto-flow: column;
        grid-auto-columns:calc(50%);
        justify-items: center;
        gap: 0;
    }
}


@media screen and (max-width:600px){
    .wrapper .carousel {
        display:grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(100%);
        justify-items: center;
        gap: 0vh;
    }
}

